$purple:#907FF0;
$bgPurple:#907FF029;
$bgBrown:#FFA62A29;
$bgWinered:#EE534729;
$bgGreen: #3CD6A329;
$closePurple: #907ff100;
$closeBrown: #FFA62100;
$closeWinered: #EE534100;
$closeGreen: #3CD6A100; 
$action: #907FF0;
$background: #1A1A1A;
$border: #9747FF;
$font: #FFFFFF;
$headerbackground: #0D0D0D;